{% extends "pages/base.html" %}
{% load static %}
{% block title %}
	<title>Taste.it - About</title>
{% endblock %}
{% block menu %}
<div class="collapse navbar-collapse " id="ftco-nav ">
	<ul class="navbar-nav ml-auto ">
		<li class="nav-item "><a href="/home" class="nav-link ">Trang Chủ</a></li>
		<li class="nav-item active"><a href="/about " class="nav-link ">Về Chúng Tôi</a></li>
		<li class="nav-item "><a href="/chef " class="nav-link ">Đầu Bếp</a></li>
		<li class="nav-item "><a href="/menu " class="nav-link ">Món Ăn</a></li>
		<li class="nav-item "><a href="/blog " class="nav-link ">Bài Viết</a></li>
	</ul>
</div>
{% endblock %}
{% block content %}

<section class="hero-wrap hero-wrap-2 " style="background-image: url( {% static 'images/bg_5.jpg'%}); " data-stellar-background-ratio="0.5 ">
  <div class="overlay "></div>
  <div class="container ">
    <div class="row no-gutters slider-text align-items-end justify-content-center ">
      <div class="col-md-9 ftco-animate text-center mb-5 ">
        <h1 class="mb-2 bread ">Về Chúng Tôi</h1>
        <p class="breadcrumbs "><span class="mr-2 "><a href="/home">Trang Chủ <i class="fa fa-chevron-right "></i></a></span> <span>Về Chúng Tôi <i class="fa fa-chevron-right "></i></span></p>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb ">
 <div class="container ">
  <div class="row d-flex ">
    <div class="col-md-6 d-flex ">
     <div class="img img-2 w-100 mr-md-2 " style="background-image: url({% static 'images/bg_6.jpg'%}); "></div>
     <div class="img img-2 w-100 ml-md-2 " style="background-image: url({% static 'images/bg_4.jpg'%}); "></div>
   </div>
   <div class="col-md-6 ftco-animate makereservation p-4 p-md-5 ">
    <div class="heading-section ftco-animate mb-5 ">
      <span class="subheading ">Đây là bí mật của chúng tôi</span>
      <h2 class="mb-4 ">Những Đầu Bếp Hoàn Hảo</h2>
      <p> Thực đơn của nhà hàng hết sức đa dạng, từ thịt thú rừng của vùng núi Tây Bắc đến hải sản biển tươi sống của mọi miền đất nước. Nhờ quá trình dày công nghiên cứu và khám phá ẩm thực 3 miền, đồng thời thường xuyên cập nhập và đổi mới thực đơn, chúng tôi tự tin đưa đến cho khách hàng những món ăn đặc biệt nhất với hương vị chất lượng cao nhất như : Xôi Chim Vũ Gia, Gỏi Cá Mẹm, Heo Nướng Giả Chồn, Cua Gạch Rang Muối Nước, Ghẹ Nấu Rau Muống...
      </p>
      <p><a href="# " class="btn btn-primary ">Đọc Thêm</a></p>
    </div>
  </div>
  </div>
</div>
</div>
</section>

<section class="ftco-section ftco-counter img " id="section-counter " style="background-image: url({% static 'images/bg_4.jpg'%}); " data-stellar-background-ratio="0.5 ">
 <div class="container ">
  <div class="row d-md-flex align-items-center justify-content-center ">
   <div class="col-lg-10 ">
    <div class="row d-md-flex align-items-center ">
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate ">
        <div class="block-18 ">
          <div class="text ">
            <strong class="number " data-number="100 ">{{CountFood}}</strong>
            <span>Total Foods</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate ">
        <div class="block-18 ">
          <div class="text ">
            <strong class="number " data-number="4000 ">{{CountChef}}</strong>
            <span>Total Chef</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate ">
        <div class="block-18 ">
          <div class="text ">
            <strong class="number " data-number="10 ">0</strong>
            <span>Restaurants</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate ">
        <div class="block-18 ">
          <div class="text ">
            <strong class="number " data-number="10000 ">0</strong>
            <span>Happy Customers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary ">
  <div class="container py-5 ">
    <div class="row py-2 ">
      <div class="col-md-12 text-center ">
        <h2>Chúng tôi làm món ăn ngon  &amp; bổ dưỡng</h2>
        <a href="/home" class="btn btn-white btn-outline-white ">Đặt bàn ngay bây giờ!</a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section " style="background-image: url({% static 'images/bg_5.jpg'%}); ">
  <div class="overlay "></div>
  <div class="container ">
    <div class="row justify-content-center mb-3 pb-2 ">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate ">
        <span class="subheading ">Đánh Giá</span>
        <h2 class="mb-4 ">Khách Hàng</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center ">
      <div class="col-md-7 ">
        <div class="carousel-testimony owl-carousel ftco-owl ">
          {% for review in Review %}
          <div class="item ">
            <div class="testimony-wrap text-center ">
              <div class="text p-3 ">
                <p class="mb-4 ">{{review.reviewContent}}</p>
                <div class="user-img mb-4 " style="background-image: url({{review.author.avatarUser.url}}) ">
                  <span class="quote d-flex align-items-center justify-content-center ">
                    <i class="fa fa-quote-left "></i>
                  </span>
                </div>
                <p class="name ">{{review.author.fullnameUser}}</p>
                <span class="position ">Customer</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}