{% extends "pages/base.html" %}
{% load static %}
{% block title %}
	<title>Taste.it - Blog</title>
{% endblock %}
{% block menu %}
<div class="collapse navbar-collapse " id="ftco-nav ">
	<ul class="navbar-nav ml-auto ">
		<li class="nav-item "><a href="/home" class="nav-link ">Trang Chủ</a></li>
		<li class="nav-item "><a href="/about " class="nav-link ">Về Chúng Tôi</a></li>
		<li class="nav-item "><a href="/chef " class="nav-link ">Đầu Bếp</a></li>
		<li class="nav-item "><a href="/menu " class="nav-link ">Món Ăn</a></li>
		<li class="nav-item active"><a href="/blog " class="nav-link ">Bài Viết</a></li>
	</ul>
</div>
{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_5.jpg'%});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-5">
        <h1 class="mb-2 bread">Bài Viết</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/home">Trang Chủ <i class="fa fa-chevron-right"></i></a></span> <span> Bài Viết <i class="fa fa-chevron-right"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light ">
 <div class="container ">
  <div class="row ">
    {%for blog in Blogs%}
    <div class="col-md-4 ftco-animate ">
      <div class="blog-entry ">
        <a href="blog-single.html " class="block-20 " style="background-image: url({{blog.avatarBlog.url}}); ">
        </a>
        <div class="text px-4 pt-3 pb-4 ">
          <div class="meta ">
            <div><a href="# ">{{blog.timePost}}</a></div>
            <div><a href="# ">{{blog.posterBlog}}</a></div>
          </div>
          <h3 class="heading "><a href="# ">{{blog.titleBlog}}</a></h3>
          <p class="clearfix ">
            <a href="/blog/{{blog.id}} " class="float-left read btn btn-primary ">Read more</a>
            <a href="# " class="float-right meta-chat "><span class="fa fa-comment "></span>3</a>
          </p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <div class="row no-gutters my-5">
    <div class="col text-center">
      <div class="block-27">
        <ul>
          {% if Blogs.has_previous %}
          <li><a href="?page={{ Blogs.previous_page_number }}">&lt;</a></li>
          {% endif %}
          <li class="active"><span>{{ Blogs.number }}</span></li>
          {% if Blogs.has_next %}
          <li><a href="?page={{ Blogs.next_page_number }}">&gt;</a></li>
          <li><a href="?page={{ Blogs.paginator.num_pages }}"><span>{{ Blogs.paginator.num_pages }}</span></a></li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
{%endblock%}
