{% extends "pages/base.html" %}
{% load static %}
	{% block content %}
	<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt" id="BookTable">
		<div class="container ">
			<div class="row no-gutters ">
				<div class="col-sm-4 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary ">
					
					<form method="POST" class="appointment-form ">
						{% csrf_token %}
						<h3 class="mb-3 ">Đặt Bàn</h3>
						<div class="row ">
							<div class="col-md-12 ">
								<div class="form-group ">
									{{form.nameBooking}}
								</div>
							</div>
							<div class="col-md-12 ">
								<div class="form-group ">
								{{form.emailBooking}}
								</div>
							</div>
							<div class="col-md-12 ">
								<div class="form-group ">
									{{form.phoneBooking}}
								</div>
							</div>
							<div class="col-md-12 ">
								<div class="form-group ">
									<div class="input-wrap ">
										
										{{form.checkInBooking}}
									</div>
								</div>
							</div>
							<div class="col-md-12 ">
								<div class="form-group ">
									<div class="input-wrap ">
										
										{{form.timeBooking}}
									</div>
								</div>
							</div>
							<div class="col-md-12 ">
								<div class="form-group ">
									<div class="input-wrap ">
										<div class="icon "><span class="fa fa-clock-o "></span></div>
										{{form.numberOfGuest}}
									</div>
								</div>
							</div>
							
							<div class="col-md-12 ">
								<div class="form-group ">
									<input type='submit' value="Đặt Bàn Ngay" class="btn btn-white py-3 px-4 ">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-8 wrap-about py-5 ftco-animate img " style="background-image: url({% static 'images/about.jpg'%}); ">
					<div class="row pb-5 pb-md-0 ">
						<div class="col-md-12 col-lg-7 ">
							<div class="heading-section mt-5 mb-4 ">
								<div class="pl-lg-3 ml-md-5 ">
									<span class="subheading ">Về Chúng Tôi</span>
									<h2 class="mb-4 ">Chào Mừng bạn tới Nhà Hàng</h2>
								</div>
							</div>
							<div class="pl-lg-3 ml-md-5 ">
								<p>Tọa lạc trên khu đất rộng 2000m2, nhà hàng chia làm 3 khu nhà sàn lớn với kiến trúc độc đáo riêng biệt, hòa cùng quần thể cây cảnh và cây xanh hàng trăm năm tuổi, non bộ nhân tạo và hồ cá cảnh nhiều màu sắc tạo nên một không gian non nước hữu tình, một sự kết hợp hoàn hảo giữa lòng thành phố.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-intro " style="background-image: url({% static 'images/bg_3.jpg'%}); ">
		<div class="overlay "></div>
		<div class="container ">
			<div class="row ">
				<div class="col-md-12 text-center ">
					<span>Đặt Trước Ngay Bây Giờ</span>
					<h2>Bữa Tối Riêng Tư &amp; Thời Gian Vui Vẻ</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ">
		<div class="container ">
			<div class="row justify-content-center mb-5 pb-2 ">
				<div class="col-md-7 text-center heading-section ftco-animate ">
					<span class="subheading ">Đặc Sản</span>
					<h2 class="mb-4 ">Thực Đơn</h2>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-6 col-lg-4 ">
					<div class="menu-wrap ">
						<div class="heading-menu text-center ftco-animate ">
							<h3>Bữa Sáng</h3>
						</div>
						
						{% for food in Breakfast %}
						<div class="menus border-bottom-0 d-flex ftco-animate ">
							<div class="menu-img img " style="background-image: url({{food.avatarFood.url}}); "></div>
							<div class="text ">
								<div class="d-flex ">
									<div class="one-half ">
										<h3>{{food.nameFood}}</h3>
									</div>
									<div class="one-forth ">
										<span class="price ">{{food.payFood}}</span>
									</div>
								</div>
								<p>{{food.ingredientFood}}</p>
							</div>
						</div>
						{% endfor %}
						
						<span class="flat flaticon-bread " style="left: 0; "></span>
						<span class="flat flaticon-breakfast " style="right: 0; "></span>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 ">
					<div class="menu-wrap ">
						<div class="heading-menu text-center ftco-animate ">
							<h3>Bữa Trưa</h3>
						</div>
						{% for food in Lunch %}
						<div class="menus border-bottom-0 d-flex ftco-animate ">
							<div class="menu-img img " style="background-image: url({{food.avatarFood.url}}); "></div>
							<div class="text ">
								<div class="d-flex ">
									<div class="one-half ">
										<h3>{{food.nameFood}}</h3>
									</div>
									<div class="one-forth ">
										<span class="price ">{{food.payFood}}</span>
									</div>
								</div>
								<p>{{food.ingredientFood}}</p>
							</div>
						</div>
						{% endfor %}
						<span class="flat flaticon-pizza " style="left: 0; "></span>
						<span class="flat flaticon-chicken " style="right: 0; "></span>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 ">
					<div class="menu-wrap ">
						<div class="heading-menu text-center ftco-animate ">
							<h3>Bữa Tối</h3>
						</div>
						{% for food in Dinner %}
						<div class="menus border-bottom-0 d-flex ftco-animate ">
							<div class="menu-img img " style="background-image: url({{food.avatarFood.url}}); "></div>
							<div class="text ">
								<div class="d-flex ">
									<div class="one-half ">
										<h3>{{food.nameFood}}</h3>
									</div>
									<div class="one-forth ">
										<span class="price ">{{food.payFood}}</span>
									</div>
								</div>
								<p>{{food.ingredientFood}}</p>
							</div>
						</div>
						{% endfor %}
						<span class="flat flaticon-omelette " style="left: 0; "></span>
						<span class="flat flaticon-burger " style="right: 0; "></span>
					</div>
				</div>

				<!--  -->
				<div class="col-md-6 col-lg-4 ">
					<div class="menu-wrap ">
						<div class="heading-menu text-center ftco-animate ">
							<h3>Tráng Miệng</h3>
						</div>
						{% for food in Desserts %}
						<div class="menus border-bottom-0 d-flex ftco-animate ">
							<div class="menu-img img " style="background-image: url({{food.avatarFood.url}}); "></div>
							<div class="text ">
								<div class="d-flex ">
									<div class="one-half ">
										<h3>{{food.nameFood}}</h3>
									</div>
									<div class="one-forth ">
										<span class="price ">{{food.payFood}}</span>
									</div>
								</div>
								<p>{{food.ingredientFood}}</p>
							</div>
						</div>
						{% endfor %}
						<span class="flat flaticon-cupcake " style="left: 0; "></span>
						<span class="flat flaticon-ice-cream " style="right: 0; "></span>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-4 ">
					<div class="menu-wrap ">
						<div class="heading-menu text-center ftco-animate ">
							<h3>Rượu</h3>
						</div>
						{% for food in WineCard %}
						<div class="menus border-bottom-0 d-flex ftco-animate ">
							<div class="menu-img img " style="background-image: url({{food.avatarFood.url}}); "></div>
							<div class="text ">
								<div class="d-flex ">
									<div class="one-half ">
										<h3>{{food.nameFood}}</h3>
									</div>
									<div class="one-forth ">
										<span class="price ">{{food.payFood}}</span>
									</div>
								</div>
								<p>{{food.ingredientFood}}</p>
							</div>
						</div>
						{% endfor %}
						<span class="flat flaticon-wine " style="left: 0; "></span>
						<span class="flat flaticon-wine-1 " style="right: 0; "></span>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 ">
					<div class="menu-wrap ">
						<div class="heading-menu text-center ftco-animate ">
							<h3>Đồ Uống &amp; Trà</h3>
						</div>
						{% for food in DrinkTea %}
						<div class="menus border-bottom-0 d-flex ftco-animate ">
							<div class="menu-img img " style="background-image: url({{food.avatarFood.url}}); "></div>
							<div class="text ">
								<div class="d-flex ">
									<div class="one-half ">
										<h3>{{food.nameFood}}</h3>
									</div>
									<div class="one-forth ">
										<span class="price ">{{food.payFood}}</span>
									</div>
								</div>
								<p>{{food.ingredientFood}}</p>
							</div>
						</div>
						{% endfor %}
						<span class="flat flaticon-wine " style="left: 0; "></span>
						<span class="flat flaticon-wine-1 " style="right: 0; "></span>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="ftco-section testimony-section " style="background-image: url({% static 'images/bg_5.jpg'%}); ">
		<div class="overlay "></div>
		<div class="container ">
			<div class="row justify-content-center mb-3 pb-2 ">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate ">
					<span class="subheading ">Đánh Giá</span>
					<h2 class="mb-4 ">Khách Hàng</h2>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center ">
				<div class="col-md-7 ">
					<div class="carousel-testimony owl-carousel ftco-owl ">
						{% for review in Review %}
						<div class="item ">
							<div class="testimony-wrap text-center ">
								<div class="text p-3 ">
									<p class="mb-4 ">{{review.reviewContent}}</p>
									<div class="user-img mb-4 " style="background-image: url({{review.author.avatarUser.url}}) ">
										<span class="quote d-flex align-items-center justify-content-center ">
											<i class="fa fa-quote-left "></i>
										</span>
									</div>
									<p class="name ">{{review.author.fullnameUser}}</p>
									<span class="position ">Customer</span>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="ftco-section bg-light ">
		<div class="container ">
			<div class="row justify-content-center mb-5 pb-2 ">
				<div class="col-md-7 text-center heading-section ftco-animate ">
					<span class="subheading ">Đầu Bếp</span>
					<h2 class="mb-4 ">Bếp Trưởng</h2>
				</div>
			</div>	
			<div class="row ">
				{% for chef in DataChef %}
				<div class="col-md-6 col-lg-3 ftco-animate ">
					<div class="staff ">
						<div class="img " style="background-image: url({{chef.avatarChef.url}}); "></div>
						<div class="text px-4 pt-2 ">
							<h3>{{chef.nameChef}}</h3>
							<span class="position mb-2 ">{{chef.positionChef}}</span>
							<div class="faded ">
								<p>{{chef.selfIntroduceChef}}</p>
								<ul class="ftco-social d-flex ">
									<li class="ftco-animate "><a href="# "><span class="icon-twitter "></span></a></li>
									<li class="ftco-animate "><a href="# "><span class="icon-facebook "></span></a></li>
									<li class="ftco-animate "><a href="# "><span class="icon-google-plus "></span></a></li>
									<li class="ftco-animate "><a href="# "><span class="icon-instagram "></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ">
		<div class="container ">
			<div class="row d-flex ">
				<div class="col-md-6 d-flex ">
					<div class="img img-2 w-100 mr-md-2 " style="background-image: url({% static 'images/bg_6.jpg'%}); "></div>
					<div class="img img-2 w-100 ml-md-2 " style="background-image: url({% static 'images/bg_4.jpg'%}); "></div>
				</div>
				<div class="col-md-6 ftco-animate makereservation p-4 p-md-5 ">
					<div class="heading-section ftco-animate mb-5 ">
						<span class="subheading ">Đây là bí mật của chúng tôi</span>
						<h2 class="mb-4 ">Những Đầu Bếp Hoàn Hảo</h2>
						<p> Thực đơn của nhà hàng hết sức đa dạng, từ thịt thú rừng của vùng núi Tây Bắc đến hải sản biển tươi sống của mọi miền đất nước. Nhờ quá trình dày công nghiên cứu và khám phá ẩm thực 3 miền, đồng thời thường xuyên cập nhập và đổi mới thực đơn, chúng tôi tự tin đưa đến cho khách hàng những món ăn đặc biệt nhất với hương vị chất lượng cao nhất như : Xôi Chim Vũ Gia, Gỏi Cá Mẹm, Heo Nướng Giả Chồn, Cua Gạch Rang Muối Nước, Ghẹ Nấu Rau Muống...
						</p>
						<p><a href="# " class="btn btn-primary ">Đọc Thêm</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light ">
		<div class="container ">
			<div class="row justify-content-center mb-5 pb-2 ">
				<div class="col-md-7 text-center heading-section ftco-animate ">
					<span class="subheading ">Bài Viết</span>
					<h2 class="mb-4 ">Bài Viết Gần Đây</h2>
				</div>
			</div>
			<div class="row ">
				{% for blog in Blogs %}
				<a href="/blog/{{blog.id}} ">
				<div class="col-md-4 ftco-animate ">
					<div class="blog-entry ">
						<a href="/blog/{{blog.id}}" class="block-20 " style="background-image: url({% static 'images/image_1.jpg'%}); ">
						</a>
						<div class="text px-4 pt-3 pb-4 ">
							<div class="meta ">
								<div><a href="# ">{{blog.timePost}}</a></div>
								<div><a href="# ">{{blog.posterBlog}}</a></div>
							</div>
							<h3 class="heading "><a href="# ">{{blog.titleBlog}}</a></h3>

							<p class="clearfix ">
								<a href="/blog/{{blog.id}} " class="float-left read btn btn-primary ">Chi Tiết</a>
								<a href="/blog/{{blog.id}}" class="float-right meta-chat "><span class="fa fa-comment "></span></a>
							</p>
						</div>
					</div>
				</div>
			</a>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary ">
		<div class="container py-5 ">
			<div class="row py-2 ">
				<div class="col-md-12 text-center ">
					<h2>Chúng tôi làm món ăn ngon  &amp; bổ dưỡng</h2>
					<a href="#BookTable" class="btn btn-white btn-outline-white ">Đặt bàn ngay bây giờ!</a>
				</div>
			</div>
		</div>
	</section>
	{%endblock%}
	